<% layout('layout') %>
        <div class="indexmain">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-12 offset-sm-1">
                        <!-- 這裡放首頁大LOGO圖片 -->
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png" id = "logo">

                        <form class="form-group" action="search" method = "get">
                            <input type="text" class="form-control" placeholder="搜尋商品..." aria-label="搜尋商品..." name = "search">
                            <div id="hotTag">
                                <button type="button" class="btn btn-outline-warning">透明奶茶</button>
                                <button type="button" class="btn btn-outline-warning">貓咪跳台</button>
                                <button type="button" class="btn btn-outline-warning">人生無限公司電影票</button>
                                <button type="button" class="btn btn-outline-warning">黑色絲襪</button>
                                <button type="button" class="btn btn-outline-warning">迷你速充</button>
                            </div>
                            <button class="btn btn-secondary" type = "submit">搜尋</button>
                        </form>


                        <div id="carouselExampleControls" class="carousel slide" data-ride="false">
                                <div class="carousel-inner mx-auto">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3">
                                                <a href = "#"><img class="d-block w-100 mx-auto " src="https://a.ecimg.tw/items/DGBJ85A9007KNO4/000001_1478552853.jpg" alt="First slide"></a>
                                                <div class="discount">
                                                    <span class="rate">50%OFF</span>
                                                    <p>
                                                        <a href="#" class="gamename">PS4遊戲 PlayStation VR Worlds-中英文合版</a>
                                                        <span class="price">$1790</span><br>
                                                        <span class="website">PChome24hr</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a href = "#"><img class="d-block w-100 mx-auto " src="https://a.ecimg.tw/items/DGBJ85A9008GEVG/000001_1507186160.jpg" alt="First slide"></a>                                                
                                                <div class="discount">
                                                    <span class="rate">50%OFF</span>
                                                    <p>
                                                        <a href="#" class="gamename">PS4遊戲 PlayStation VR Worlds-中英文合版</a>
                                                        <span class="price">$1790</span><br>
                                                        <span class="website">PChome24hr</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a href = "#"><img class="d-block w-100 mx-auto " src="https://a.ecimg.tw/items/DGBJ88A9008CIPM/000001_1510626067.jpg" alt="First slide"></a>                                              
                                                <div class="discount">
                                                    <span class="rate">50%OFF</span>
                                                    <p>
                                                        <a href="#" class="gamename">PS4遊戲 PlayStation VR Worlds-中英文合版</a>
                                                        <span class="price">$1790</span><br>
                                                        <span class="website">PChome24hr</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a href = "#"><img class="d-block w-100 mx-auto " src="https://a.ecimg.tw/items/DGBJ85A9008GEVG/000001_1507186160.jpg" alt="First slide"></a>                                                
                                                <div class="discount">
                                                    <span class="rate">50%OFF</span>
                                                    <p>
                                                        <a href="#" class="gamename">PS4遊戲 PlayStation VR Worlds-中英文合版</a>
                                                        <span class="price">$1790</span><br>
                                                        <span class="website">PChome24hr</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3">
                                                <a href = "#"><img class="d-block w-100 mx-auto " src="https://a.ecimg.tw/items/DGBJ88A9008GOT3/000001_1507695369.jpg" alt="First slide"></a>                                                
                                                <div class="discount">
                                                    <span class = "rate">50%OFF</span><p>
                                                    <a href="#" class = "gamename">PS4遊戲 PlayStation VR Worlds-中英文合版</a>
                                                    <span class = "price">$1790</span><br>
                                                    <span class = "website">PChome24hr</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a href = "#"><img class="d-block w-100 mx-auto " src="https://a.ecimg.tw/items/DGBJ88A9008ECJ3/000001_1504871293.jpg" alt="First slide"></a>                                               
                                                <div class="discount">
                                                        <span class = "rate">50%OFF</span><p>
                                                        <a href="#" class = "gamename">PS4遊戲 PlayStation VR Worlds-中英文合版</a>
                                                        <span class = "price">$1790</span><br>
                                                        <span class = "website">PChome24hr</span>
                                                    </div>
                                            </div>
                                            <div class="col-3">
                                                <a href = "#"><img class="d-block w-100 mx-auto " src="https://a.ecimg.tw/items/DGBJ88A9008G1T6/000001_1510284199.jpg" alt="First slide"></a>                                             
                                                <div class="discount">
                                                    <span class="rate">50%OFF</span>
                                                    <p>
                                                        <a href="#" class="gamename">PS4遊戲 PlayStation VR Worlds-中英文合版</a>
                                                        <span class="price">$1790</span><br>
                                                        <span class="website">PChome24hr</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a href = "#"><img class="d-block w-100 mx-auto " src="https://a.ecimg.tw/items/DGBJ88A9008ECJ3/000001_1504871293.jpg" alt="First slide"></a>                                               
                                                <div class="discount">
                                                    <span class="rate">50%OFF</span>
                                                    <p>
                                                        <a href="#" class="gamename">PS4遊戲 PlayStation VR Worlds-中英文合版</a>
                                                        <span class="price">$1790</span><br>
                                                        <span class="website">PChome24hr</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3">
                                                <a href = "#"><img class="d-block w-100 mx-auto " src="https://a.ecimg.tw/items/DGBJBMA9008HMEJ/000001_1508740564.jpg" alt="First slide"></a>                                                
                                                <div class="discount">
                                                    <span class="rate">50%OFF</span>
                                                    <p>
                                                        <a href="#" class="gamename">PS4遊戲 PlayStation VR Worlds-中英文合版</a>
                                                        <span class="price">$1790</span><br>
                                                        <span class="website">PChome24hr</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a href = "#"><img class="d-block w-100 mx-auto " src="https://a.ecimg.tw/items/DGBJ88A9008G1S9/000001_1506740780.jpg" alt="First slide"></a>                                              
                                                <div class="discount">
                                                    <span class="rate">50%OFF</span>
                                                    <p>
                                                        <a href="#" class="gamename">PS4遊戲 PlayStation VR Worlds-中英文合版</a>
                                                        <span class="price">$1790</span><br>
                                                        <span class="website">PChome24hr</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a href = "#"><img class="d-block w-100 mx-auto " src="https://a.ecimg.tw/items/DGBJ88A9006IDHN/000001_1478482348.jpg" alt="First slide"></a>                                                
                                                <div class="discount">
                                                    <span class="rate">50%OFF</span>
                                                    <p>
                                                        <a href="#" class="gamename">PS4遊戲 PlayStation VR Worlds-中英文合版</a>
                                                        <span class="price">$1790</span><br>
                                                        <span class="website">PChome24hr</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a href = "#"><img class="d-block w-100 mx-auto " src="https://a.ecimg.tw/items/DGBJ88A9008ECJ3/000001_1504871293.jpg" alt="First slide"></a>                                                
                                                <div class="discount">
                                                    <span class="rate">50%OFF</span>
                                                    <p>
                                                        <a href="#" class="gamename">PS4遊戲 PlayStation VR Worlds-中英文合版</a>
                                                        <span class="price">$1790</span><br>
                                                        <span class="website">PChome24hr</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>
                    </div>
                </div>
            </div>
        </div>