<% layout('layout_main') %>

<div class="main">
    <div class="container-fluid">
        <div class="col-12 col-md-9">
            <div class="table-list">
                <table class="table" id = "search_result">
                    <tbody>
                        <tr>
                            <td><a href="#"><center><img class="d-block" src="https://a.ecimg.tw/items/DGBJ85A9007KNO4/000001_1478552853.jpg" alt="First slide" style = "margin-left:unset!important;"></center></a></td>
                            
                            <td>
                                <p><a href="#">PS4 VR《上古卷軸5:無界天際》中英文版</a></p>
                                <p>共7筆商品</p>
                                <p class = "price">$1490~$1790</p>
                                <div class="result_buttons">
                                    <button type="button" class="btn btn-info">比較價格</button>
                                    <button type="button" class="btn btn-warning">收藏</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <center><img class="d-block" src="https://a.ecimg.tw/items/DGBJ85A9007KNO4/000001_1478552853.jpg"
                                            alt="First slide" style="margin-left:unset!important;"></center>
                                </a>
                            </td>

                            <td>
                                <p><a href="#">PS4 VR《上古卷軸5:無界天際》中英文版</a></p>
                                <p>共7筆商品</p>
                                <p class="price">$1490~$1790</p>
                                <div class="result_buttons">
                                    <button type="button" class="btn btn-info">比較價格</button>
                                    <button type="button" class="btn btn-warning">收藏</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <center><img class="d-block" src="https://a.ecimg.tw/items/DGBJ85A9007KNO4/000001_1478552853.jpg"
                                            alt="First slide" style="margin-left:unset!important;"></center>
                                </a>
                            </td>

                            <td>
                                <p><a href="#">PS4 VR《上古卷軸5:無界天際》中英文版</a></p>
                                <p>共7筆商品</p>
                                <p class="price">$1490~$1790</p>
                                <div class="result_buttons">
                                    <button type="button" class="btn btn-info">比較價格</button>
                                    <button type="button" class="btn btn-warning">收藏</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>

        <div class="col-12 col-md-3">

        </div>
    </div>
</div>