@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
    font-family: 'Noto Sans TC', sans-serif;
}

#headNav .nav-link{
    padding-top: unset;
    padding-bottom: unset;
    color: black;
    /* 這裡設定上面那排的文字顏色 */
    background-color: unset;
    /* 這裡設定上面那排的背景色 */
}

.indexmain{
    padding-top: 139px;
    text-align: center;
}

.main{
    text-align: center;
}

.history_main{
    text-align: center;
}

form{
    padding: 0.5em;
}

#hotTag{
    padding: 0.8em;
}

#hotTag button{
    /* border-color: black; */
}

#logo{
    /* 這裡可以調首頁LOGO大小 */
    width: 50%;
}

.w-100{
    max-height:160px;
    /* width: auto!important; */
}

.carousel-inner{
    width: 85%;
}

.carousel-control-next{
    width: unset;
}

.carousel-control-prev{
    width: unset;
}

.carousel-control-next-icon {
    background-image: url(../img/right.png);
    width: 50px;
    height: 50px;
    margin-left: 2vw;
}

.carousel-control-prev-icon {
    background-image: url(../img/left.png);
    width: 50px;
    height: 50px;
    margin-right: 2vw;
}

.carousel-inner .discount .rate{
    border: solid;
    border-color: red;
    color: red;
    font-size: 1.5vw;
    line-height: 2;
}

.carousel-inner .discount .price{
    color: red;
}

#carouselExampleControls{
    padding-top: 50px;
}

#head_search{
    padding-top:10px;
}

#search_result img{
    height: 160px;
}

#search_result .price{
    color: red;
}

#search_result .result_buttons{
    float:right;
}

#hot_Product{
    text-align: start;
}

#hot_product img{
    height: 90px;
}

.hot_item .price{
    color:red;
    float: left;
}

#price_devide{
    margin: unset;
    margin-top: 0.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.index .breadcrumb{
    margin: unset;
    padding-right: 1rem;
    padding-left: 1rem;
    background: rgba(255, 255, 255, 0.00);
}

.sortby button{
    margin: .15em;
}

.result_buttons{
    text-align: right;
}

.result_buttons button{
    margin-right: 5px;
}

.result_buttons .material-icons{
    padding-right: 1em;
    text-align: right;
    margin-top: 8px;
    padding-bottom: 6px;
}

.result_buttons .material-icons a{
     color:#ffc106;
     /* 鈴鐺顏色 */
}

.page-link{
    /* 下面按頁數的地方的背景色 */
    background: #fff;
    /* 文字顏色 */
    color: #007bff;
}

.page-item.disable .page-link{
    /* 不能按的頁數的顏色 */
    background-color: #fff;
    color: #868e96;
}

#compare-title h3{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#main-logo-link{
    text-decoration: none;
    color: black;
}